.articles_first_span {
    position: absolute;
    width: 122px;
    height: 25px;
    left: 213px;
    top: 1650px;

    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.04em;

    /* blue_03 */

    color: #356EAD;

    opacity: 0.8;
}

.articles_box1_title {
    position: absolute;
    width: 540px;
    height: 38px;
    left: 532px;
    top: 1707px;

    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box1_paragraph {
    position: absolute;
    width: 539px;
    height: 80px;
    left: 533px;
    top: 1761px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.6);
}

.articles_box1_image {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 1707px;
}

.articles_box1_span {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 533px;
    top: 1855px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box1_date {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 533px;
    top: 1883px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}

.articles_box1_icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 753px;
    top: 1869px;
}

.articles_box1_icon2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 809px;
    top: 1869px;
}


.articles_box2_title {
    position: absolute;
    width: 540px;
    height: 38px;
    left: 532px;
    top: 1939px;

    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box2_paragraph {
    position: absolute;
    width: 539px;
    height: 80px;
    left: 533px;
    top: 1993px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.6);
}

.articles_box2_image {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 1939px;
}

.articles_box2_span {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 533px;
    top: 2087px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box2_date {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 533px;
    top: 2115px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}

.articles_box2_icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 753px;
    top: 2101px;
}

.articles_box2_icon2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 809px;
    top: 2101px;
}



.articles_box3_title {
    position: absolute;
    width: 540px;
    height: 38px;
    left: 532px;
    top: 2171px;

    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box3_paragraph {
    position: absolute;
    width: 539px;
    height: 80px;
    left: 533px;
    top: 2225px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.6);
}

.articles_box3_image {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 2171px;
}

.articles_box3_span {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 533px;
    top: 2319px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box3_date {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 533px;
    top: 2347px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}

.articles_box3_icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 753px;
    top: 2333px;
}

.articles_box3_icon2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 809px;
    top: 2333px;
}




.articles_box4_title {
    position: absolute;
    width: 540px;
    height: 38px;
    left: 532px;
    top: 2403px;

    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box4_paragraph {
    position: absolute;
    width: 539px;
    height: 80px;
    left: 533px;
    top: 2457px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.6);
}

.articles_box4_image {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 2403px;
}

.articles_box4_span {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 533px;
    top: 2551px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box4_date {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 533px;
    top: 2579px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}

.articles_box4_icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 753px;
    top: 2565px;
}

.articles_box4_icon2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 809px;
    top: 2565px;
}





.articles_box5_title {
    position: absolute;
    width: 540px;
    height: 38px;
    left: 532px;
    top: 2635px;

    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box5_paragraph {
    position: absolute;
    width: 539px;
    height: 80px;
    left: 533px;
    top: 2689px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.6);
}

.articles_box5_image {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 2635px;
}

.articles_box5_span {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 533px;
    top: 2783px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;
}

.articles_box5_date {
    position: absolute;
    width: 131px;
    height: 24px;
    left: 533px;
    top: 2811px;

    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}

.articles_box5_icon1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 753px;
    top: 2797px;
}

.articles_box5_icon2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 809px;
    top: 2797px;
}

.articles_left {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 213px;
    top: 2892px;
}

.articles_new {
    position: absolute;
    width: 83px;
    height: 20px;
    left: 247px;
    top: 2891px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.04em;

    /* blue_03 */

    color: #356EAD;
}

.articles_old {

    position: absolute;
    width: 77px;
    height: 20px;
    left: 1052px;
    top: 2891px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.04em;

    /* blue_03 */

    color: #356EAD;
}

.articles_right {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1135px;
    top: 2892px;

}