.articles_container {
    display: flex;
    justify-content: center;

}

.article_box {
    width: 60%;
}

.article_row {
    display: flex;
    align-items: center;
}

.articles_col h1{
    padding-left: 20px;
}
.articles_col p{
    padding-left: 20px;
}

.articles_image{
    padding-top: 20px;
}

.art_col{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;

    width: 70%;
}
.art_col img{
    margin-right: 70px;
}

.articles_title {
    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.articles_paragraph {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
}