  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content ul {
    margin-top: 100px;
    list-style-type: none;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 50px;

    letter-spacing: 0.05em;
    color: #FFFFFF;

  }

  a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.05em;
    color: #FFFFFF;
  }

  .show {

    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    top: 0px;
    background: #5A98D0;
    border-radius: 50px 0px 0px 0px;
    display: block;
  }