.footer {
    position: absolute;
    height: 869px;
    left: 0px;
    top: 3007px;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    width: 1270px;

}

.line1 {
    position: absolute;
    height: 0px;
    left: 0px;
    top: 391px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 1073px;
}

.footer_button {
    position: absolute;
    height: 56px;
    left: 853px;
    top: 165px;

    background: #5A98D0;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 220px;
}

.footer_title {
    position: absolute;
    height: 92px;
    left: 213px;
    top: 91px;
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 317px;
}

.first_par {
    position: absolute;
    width: 460px;
    height: 80px;
    left: 213px;
    top: 215px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}



.footer_logo {
    position: absolute;
    left: 213px;
    top: 487px;
    right: 1009px;

}

.finish_span{
    position: absolute;
width: 288px;
height: 26px;
left: 213px;
top: 5071px;

font-family: 'Gilroy';
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

letter-spacing: 0.05em;

/* white */

color: #FFFFFF;

opacity: 0.4;
}

.footer_start_title {
    width: 125px;
    height: 46px;
    left: 277px;
    top: 468px;
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
}

.footer_title_1 {
    position: absolute;
    height: 30px;
    left: 613px;
    top: 487px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 94px;
}

.footer_title_2 {
    width: 97px;
    height: 30px;
    left: 853px;
    top: 487px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.footer_table {
    width: 260px;
    height: 214px;
    left: 613px;
    top: 487px;
    position: absolute;
    border-spacing: 77px;
}


.footer_first_title {
    position: absolute;
    width: 94px;
    height: 30px;
    left: 613px;
    top: 487px;

    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;

}

.footer_first_title {
    position: absolute;
    width: 94px;
    height: 30px;
    left: 853px;
    top: 487px;

    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;

}

#span_1{
    position: absolute;
    width: 49px;
    height: 26px;
    left: 613px;
    top: 549px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}

#span_2 {
    position: absolute;
    width: 49px;
    height: 26px;
    left: 613px;
    top: 591px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}

#span3 {
    position: absolute;
    width: 49px;
    height: 26px;
    left: 613px;
    top: 633px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}

#span4 {
    position: absolute;
    width: 49px;
    height: 26px;
    left: 613px;
    top: 675px;

    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}