.navbar_images{

    display: flex;
    justify-content: space-between;
    margin: 50px
}

.navbar_col{
    margin-top: 20px;
}


.what_we_do_title {
    position: absolute;
    width: 358px;
    height: 138px;
    left: 213px;
    top: 960px;
}


.hero_image {
    width: 687.25px;
    height: 579.31px;
    left: 655.38px;
    top: 133px;
    position: absolute;
}

.footer {
    margin-top: 40px;
    width: 90%;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    display: flex;

    justify-content: center;
}

.footer_container {
    margin-top: 50px;

    width: 60%;
}

.footer_row {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

}

.footer_col {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    

}

.footer_button {

    width: 220px;
    height: 56px;
    background: #5A98D0;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}


.footer_col ul {
    list-style-type: none;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    position: absolute;
    top: 20px
}

.footer_title {

    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 80%;
    margin-left: 0;
}

.footer_col p {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 10px;
    opacity: 0.6;
}

.footer_box {
    display: flex;
    float: right;
    align-items: center;
    width: 100%;

}

.footer_box img {
    width: 48px;
    height: 48px;
}

.footer_box p {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.footer_row span {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}


@font-face {
    font-family: 'Galien';
    src: url("../fonts/Galien/TTF/Galien-Regular.ttf")format("woff");
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy/Gilroy-Regular.woff")format("woff");
}