
.logo_image{
    margin-left: 86px;
    margin-top: 48px;
    width: 48px;
    height: 48px;
}


.what_we_do_title{
    position: absolute;
    width: 358px;   
    height: 138px;
    left: 213px;
    top: 960px;
}


.hero_image{
    width: 687.25px;
    height: 579.31px;
    left: 655.38px;
    top: 133px;
    position: absolute;
}

.footer{
    position: absolute;
    height: 869px;
    left: 0px;
    top: 4292px;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    width: 1270px;

}
.line1{
    position: absolute;
    height: 0px;
    left: 0px;
    top: 391px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 1073px;
}
.footer_button{
    position: absolute;
    height: 56px;
    left: 853px;
    top: 165px;
    
    background: #5A98D0;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 220px;
}

.footer_title{
    position: absolute;
    height: 92px;
    left: 213px;
    top: 91px;
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 317px;
}

.footer p{
    position: absolute;
width: 460px;
height: 80px;
left: 213px;
top: 215px;
font-family: 'Gilroy';
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.6;
}

.footer span{
    position: absolute;
    height: 26px;
    left: 213px;
    top: 779px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    width: 388px;
}

.footer_logo{
    position: absolute;
    left: 213px;
    top: 487px;
    right: 1009px;

}

.footer h2{
    width: 125px;
    height: 46px;
    left: 277px;
    top: 468px;
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;   
    color: #FFFFFF;
    position: absolute;
}

.footer_title_1{
    position: absolute;
    height: 30px;
    left: 613px;
    top: 487px;  
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;   
    letter-spacing: 0.05em; 
    color: #FFFFFF;
    width: 94px;
}

.footer_title_2{
    width: 97px;
    height: 30px;
    left: 853px;
    top: 487px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.footer_table{
    width: 260px;
    height: 214px;
    left: 613px;
    top: 487px;
    position: absolute;
    border-spacing: 77px;
}

.footer_table tr{

    width: 163px;
    height: 34px;
    left: 613px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}
.footer_table th{
    height: 34px;
    left: 613px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: bold;
    width: 163px;
}
@font-face {
	font-family: 'Galien'; 
	src: url("../fonts/Galien/TTF/Galien-Regular.ttf")format("woff"); 
}

@font-face {
	font-family: 'Gilroy'; 
	src: url("../fonts/Gilroy/Gilroy-Regular.woff")format("woff"); 
}
