.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container input {
    margin: 50px;
    width: 60%;
    height: 56px;
    background: #F4F4F4;
    border-radius: 10px;
}