.popular_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.popular_row {
    display: flex;
    justify-content: space-between;
    width: 60%;

}


.popular_title {
    font-family: 'Galien';
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular_col.row {
    margin-right: 5px;
    margin-top: 10%;
}

.popular_col_image {
    display: flex;
    justify-content: center;

}

.popular_paragraph {
    
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.column{
    display: flex;
    justify-content: space-between;
}